[Unit]
Description=Factorio dedicated server (Docker Compose)
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/factorio
ExecStart={{ factorio_docker_bin }} compose up -d --build
ExecStop={{ factorio_docker_bin }} compose stop
ExecReload={{ factorio_docker_bin }} compose up -d --build
TimeoutStartSec=0
TimeoutStopSec=180

[Install]
WantedBy=multi-user.target
