[Unit]
Description=Factorio server
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/factorio
ExecStart=docker compose up -d --build
ExecStop=docker compose stop
ExecReload=docker compose up -d --build
TimeoutStartSec=0
TimeoutStopSec=180

[Install]
WantedBy=multi-user.target
